body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
  background-color: var(--white-background-color);
}
:root {
  --main-header-color: #2e2f42;
  --body-text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --light: #f4f4fd;
  --pressed-state-color: #404bbf;
  --white-background-color: #ffffff;
}

.hero {
  background-color: var(--main-header-color);
  text-align: center;
}
.header-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  padding: 188px 472px 48px 472px;

  /* WHITE */

  color: var(--white-background-color);
}
.link {
  text-decoration: none;
}
/**
  |============================
  | header
  |============================
*/
/*  Making header.page-header a Flex-container and aligning elements  */
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  align-items: center;
}
.menu.nav-list-item {
}

/**
  |============================
  | logo
  |============================
*/
.logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* IRIS */
  color: var(--primary-brand-color);
}
.logo-dark {
  /* NAVY BLUE */
  color: var(--main-header-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
/**
  |============================
  | menu nav-list
  |============================
*/
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  display: inline-block;
  margin-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-list-item:hover,
.nav-list-item:focus,
.nav-list-item:active {
  color: var(--pressed-state-color);

  /**
    |============================
    | address-list
    |============================
  */
}
.address {
  display: flex;
  gap: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
.address-contact {
  color: var(--body-text-color);
  padding-top: 24px;
  padding-bottom: 188px;
}
.address .address-contact:active,
.address .address-contact:focus,
.address .address-contact:hover {
  color: var(--pressed-state-color);
}

/**
  |============================
  | button
  |============================
*/
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand-color);
  background: var(--light);
  /* IRIS */
}
.button:hover,
.button:focus,
.button:active {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
}

.button-order {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  margin-bottom: 188px;

  /* WHITE */

  color: var(--white-background-color);
  background: var(--primary-brand-color);
  border-radius: 4px;
}
.button-order:hover,
.button-order:focus,
.button-order:active {
  background: var(--pressed-state-color);
}
.footer {
  background-color: var(--main-header-color);
}
.logo-light {
  color: var(--light);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}
.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  /* NAVY BLUE */

  color: var(--main-header-color);
}
.body-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* SLATE */

  color: var(--body-text-color);
}
/**
  |============================
  | our team
  |============================
*/
.our-team {
  background-color: var(--light);
}
.our-team-item {
  background-color: var(--white-background-color);
}

.header-two: {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  --main-header-color: #2e2f42;
}
.header-main-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: var(--main-header-color);
}
/**
  |============================
  | reset start
  |============================
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid orange;
}
section {
  padding-bottom: 120px;
}
